:root {
  --bg: #770000;
  --letrasP: black;
  --letrasB: white;
  --preto: #000;
  --cor-principal: #d90303;
  --cinza: #777777;
  --tamanho-logo: 15.5vh;
  --tamanho-logo-mobile: 10vh;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

.logo {
  position: absolute;
  top: 0.5%;
  left: 22%;
  width: var(--tamanho-logo);
}

.div-header,
.div-header-baixo,
.div-header-cima {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-header {
  background-color: var(--cor-principal);
  justify-content: space-evenly;
  padding: 0.5rem;
  height: 10vh;
}

.div-header-cima {
  width: 50%;
}

.patrocinadores,
.div-menu,
.div-noticias,
.proximo-jogo,
.div-logos-proximo-jogo,
.footer-patrocinadores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patrocinadores {
  gap: 8%;
}

.patrocinador {
  width: 5%;
}

.patrocinador-privacy {
  width: 16%;
  height: 7%;
}

.instagram {
  width: 24px;
}

.div-header-baixo {
  background-color: var(--preto);
  border-bottom: 3px solid var(--cinza);
}

.menu {
  color: var(--letrasB);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 3px solid var(--cinza);
  padding: 0.5rem 1rem;
}

.div-menu:first-child {
  border-left: 3px solid var(--cinza);
}

.conteudo {
  margin: 0 10%;
}

.grid1 {
  --gap: 10px;
  --num-cols: 2;
  --row-height: 350px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  padding: var(--gap) 0;
}

.grid1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 1);
}

.img1,
.img3 {
  object-position: top;
}

.grid1-col-2 {
  grid-column: span 2;
}

.grid1-row-2 {
  grid-row: span 2;
}

.noticias {
  background-color: var(--letrasB);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 1);
}

.noticia {
  width: 100vh;
  height: 50vh;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.noticia-1 {
  background-image: url(./assets/img/mvps.jpeg);
}

.noticia-2 {
  background-image: url(./assets/img/proxjogo.jpeg);
}

.noticia-1,
.noticia-2 {
  background-size: cover;
  background-position: 0%;
}

.div-texto-noticia {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.texto-noticia-titulo,
.texto-noticia,
.div-texto-proximo-jogo h1,
.div-texto-proximo-jogo p,
.div-texto-proximo-jogo strong {
  padding: 0 10px;
  text-transform: uppercase;
}

.texto-noticia-titulo,
.div-texto-proximo-jogo h1,
.div-texto-proximo-jogo strong {
  color: var(--letrasB);
}

.texto-noticia-titulo {
  font-size: 20px;
}

.texto-noticia {
  font-size: 15px;
  font-style: italic;
  color: var(--letrasB);
}

.proximo-jogo {
  gap: 5%;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #d90303;
}

.div-logos-proximo-jogo img {
  width: var(--tamanho-logo);
  margin: 1rem;
}

.div-logos-proximo-jogo p {
  font-size: 30px;
  font-weight: 900;
}

.adversario {
  border-radius: 50%;
}

.div-texto-proximo-jogo {
  flex-direction: column;
  text-align: center;
}

.div-texto-proximo-jogo h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.div-texto-proximo-jogo p {
  font-size: 15px;
  font-weight: 700;
  color: var(--letrasP);
}

.botao-proximo-jogo button {
  background-color: var(--letrasP);
  border: none;
  color: var(--letrasB);
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.6rem 1.3rem;
  cursor: pointer;
  box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.botao-proximo-jogo a {
  text-decoration: none;
  color: var(--letrasB);
}

.musicas-futamigos-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  -webkit-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.75);
  box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.75);
}

.musicas-futamigos-container h1{
  color: var(--letrasB);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0  0 .5rem 0;
}

.musicas-futamigos{
  width: 70%;
  margin: 0 auto;
}

.musicas-futamigos div{
  text-align: center;
  color: var(--letrasB);
  font-weight: 800;
}

.audio{
  color-scheme: dark;
  width: 100%;
}

.elenco-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elenco-container h1{
  color: var(--letrasB);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.elenco .slick-prev:before, .elenco .slick-next:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  color: var(--cinza); 
  z-index: 1;
  
}

.elenco .slick-prev:before{
  background-image: url(./assets/img/seta.png);
  transform: scaleX(-1);
}

.elenco .slick-next:before{
  background-image: url(./assets/img/seta.png);
}

.elenco .slick-prev {
  left: 10px; /* Ajuste a posição do botão anterior */
}

.elenco .slick-next {
  right: 30px; /* Ajuste a posição do botão próximo */
}

.elenco {
  height: 400px;
  width: 70%;
  margin: 2rem auto 2rem auto;
  padding: 0;
  overflow: hidden;
}

.jogador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogador > img {
  width: 70%;
  height: 300px;
  object-fit: cover;
}

.elenco .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  margin: 0 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease, padding 0.3s ease, transform 0.3s ease;
}

.elenco .slick-slide img {
  transition: transform 0.3s ease, padding 0.3s ease;
}

.elenco .slick-center{
  transform: scale(1.2);
  opacity: 1;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.elenco .slick-current {
  padding: 2rem 0;
  transition: ease 0.3s;
}

.elenco .slick-current img{
  -webkit-box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.75);
}

footer {
  background-color: #a1a1a1;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 1rem;
}

footer > div > p {
  opacity: 0.6;
}

.footer-patrocinador {
  margin: 0 1rem;
}

.footer-patrocinador {
  width: 80px;
  opacity: 0.5;
}

.footer-patrocinador-privacy{
  width: 150px;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {

  .conteudo{
    margin: 0 5%;
  }

  .logo{
    position: absolute;
    top: .5%;
    left: 15%;
    width: var(--tamanho-logo);
  }

  .div-header{
    background-color: var(--cor-principal);
    display: flex;
    align-items:center;
    padding: .5rem;
    height: 10vh;
  }

  .patrocinadores{
    gap: 5%;
  }

  .patrocinador{
    width: 2rem;
  }
  
  .patrocinador-privacy{
    height: 1rem;
    width: 5rem;
  }

  .grid1{
    --num-cols: 2;
    --row-height: 300px;
  }
  .logo{
    width: var(--tamanho-logo-mobile);
  }

  .div-logos-proximo-jogo img{
    width: var(--tamanho-logo-mobile);
  }

  .proximo-jogo{
    flex-direction: column;
  }

  .div-texto-proximo-jogo strong{
    font-size: 18px;
  }

  .div-texto-proximo-jogo p{
    font-size: 14px;
  }

  .botao-proximo-jogo button{
    margin-top: 1rem;
  }

  .footer-patrocinadores{
    flex-direction: column;
  }

}

@media screen and (max-width: 600px) {

  .space{
    display: none;
  }

  .logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--tamanho-logo-mobile);
  }

  .div-header{
    justify-content: space-between;
    padding: 0 1rem 2rem 1rem;
    }

  .div-header-cima{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
  }

  .patrocinadores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    gap: 0;
  }
  
  .patrocinador{
    width: 3rem;
  }
  
  .patrocinador-privacy{
    height: 14%;
    width: 32%;
    margin: 0 1rem;
  }

  .instagram{
    width: 20px;
  }

  .texto-noticia-titulo{
    font-size: 15px;
  }

  .texto-noticia{
    font-size: 12px;
  }

  .elenco .slick-slide {
    opacity: 1;
  }
  
  .elenco .slick-current img{
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0  rgba(0,0,0,0);
  }

  .elenco .slick-current {
    padding: 0;
  }

  .elenco{
    width: 90%;
  }

  .elenco .slick-center{
    transform: scale(1);
  }

  .elenco .slick-current{
    padding: 2rem 0 ;
  }

  .elenco .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;
    max-width: 100%;
  }

  .elenco .slick-prev:before, .elenco .slick-next:before{
    color: black;
  }

  .footer-patrocinador-privacy, .footer-patrocinador{
    margin: 0 1rem;
  }

  footer{
    gap: 0;
  }

}