:root{
  --bg: #770000;
  --letrasP: black;
  --letrasB: white;
  --preto: #000;
  --cor-principal:#d90303;
  --cinza: #777777;
  --tamanho-logo:15.5vh;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.logo{
  position: absolute;
  top: .5%;
  left: 22%;
  width: var(--tamanho-logo);
}

.div-header{
  background-color: var(--cor-principal);
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding: .5rem;
  height: 10vh;
}

.div-header-cima{
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 50%;
}

.patrocinadores{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
}

.patrocinador{
  width: 5%;
}

.patrocinador-privacy{
  height: 7%;
  width: 16%;
}

.instagram{
  width: 24px;
}

.div-header-baixo{
  background-color: var(--preto);
  display: flex;
  justify-content:center;
  align-items:center;
  border-bottom: var(--cinza) solid 3px;
}

.div-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  color:var(--letrasB);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-right: var(--cinza) solid 3px;
  padding: .5rem 1rem; 
}

.div-menu:first-child{
  border-left: var(--cinza) solid 3px;
}

.conteudo{
  margin: 0 10%;
}

.grid1{
  --gap: 10px;
  --num-cols: 2;
  --row-height: 350px;

  box-sizing: border-box;
  padding: var(--gap) 0;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.grid1 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
}

.img1, .img3{
  object-position: top;
}

.grid1-col-2{
  grid-column: span 2;
}

.grid1-row-2{
  grid-row: span 2;
}

.noticias{
  align-items: center;
  text-align: center;
  background-color: var(--letrasB);
  padding: 1rem;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
}

.div-noticias{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.noticia{
  width: 100vh;
  height: 50vh;
  display: flex;
  justify-content:end;
  align-items:center;
  flex-direction: column
}

.noticia-1{
  background-size: cover;
  background-image: url(./img/votacao.jpg);
}

.noticia-2{
  background-size: cover;
  background-position: 0%;
  background-image: url(./img/lamine.jpeg);
}

.div-texto-noticia{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: auto;
}

.texto-noticia-titulo{
  color: var(--letrasB);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.texto-noticia{
  color: var(--letrasB);
  font-size: 15px;
  text-transform: uppercase;
  font-style: italic;
  padding: 0 10px;
}

.proximo-jogo{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #d90303;
}

.div-logo-proximo-jogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-logo-proximo-jogo img{
  width: var(--tamanho-logo);
}

.adversario{
  border-radius: 50%;
}

.div-texto-proximo-jogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-texto-proximo-jogo h1{
  color: var(--letrasP);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0  0 .5rem 0;
}

.div-texto-proximo-jogo p, h1{
  text-decoration: none;
  padding: 0 10px;
}

.div-texto-proximo-jogo strong{
  font-size: 20px;
  margin-bottom: .5rem;
  color: var(--letrasB);
}

.div-texto-proximo-jogo p{
  color: var(--letrasP);
  font-size: 15px;
  text-transform:uppercase;
  font-weight: 700;
  margin: 0;
}

.botao-proximo-jogo button{
  background-color: var(--letrasP);
  border: none;
  color: var(--letrasB);
  font-size: 20px;
  text-transform: uppercase;
  padding: .6rem 1.3rem;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  box-shadow: 6px 6px 8px -3px rgba(0,0,0,1);
  border-radius: 3px;
}

.botao-proximo-jogo a {
  text-decoration: none;
  color: var(--letrasB);
}

.musicas-futamigos{
  width: 1000px;
  margin: 0 auto;
}

.audio{
  color-scheme: dark;
}

.jogador img{
  object-fit: cover;
  width: 200px;
  height: 300px;

}

.elenco {
  width: 1500px;
  margin: 0 auto;
  padding: 0 .5rem;
  .slick-track{
    display: flex;
  }
  .slick-slide{
    opacity: .5;
    transition: all 0.3s ease;
    margin-left: 2rem;
    &.slick-current,
    &.slick-center {
        opacity: 1;
        padding: 3rem 0;
        transform: scale(1.2);
    }
  }
  
}

@media screen and (max-width: 1024px) {
  .grid1{
    --num-cols: 2;
    --row-height: 300px;
  }
}